<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <connectionStrings>
    
    <add name="ProductionDbContext" connectionString="metadata=res://*/ProductionModel.csdl|res://*/ProductionModel.ssdl|res://*/ProductionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dev-sql-04.sajansoftware.local;Initial Catalog=GCMS_Production_USA;User Id=AppUser;Password=AppUs3r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    
    <add name="CoreDbContext" connectionString="metadata=res://*/CoreModel.csdl|res://*/CoreModel.ssdl|res://*/CoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dev-sql-04.sajansoftware.local;Initial Catalog=GCMS_Core;User Id=AppUser;Password=AppUs3r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    
    <add name="MongoServerSettings" connectionString="mongodb://tUser:MMA*hE}a%E6eV]!w@iad-mongos2.objectrocket.com:15442/TechTracker"  
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="mongodb-log4net" connectionString="mongodb://tUser:MMA*hE}a%E6eV]!w@iad-mongos2.objectrocket.com:15442/TechTracker"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    
  </connectionStrings>

  <appSettings>

    <add key="loggerName" value="TechTracker.QA.Api"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- MongoDb -->
    <add key="MongoServer" value="mongodb://tUser:MMA*hE}a%E6eV]!w@iad-mongos2.objectrocket.com:15442" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <add key="GlobalDatabase" value="TechTracker" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- /MongoDb -->

    <!-- SignalR -->
    <add key="SignalRUrl" value="http://20.20.20.86:8080"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- /SignalR -->

    <!-- RabbitMq -->
    <add key="EnvironmentName" value="qa01"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- /RabbitMq -->
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <MasterInstanceSection>
    <MasterInstances>
      <add Id="DEV-01" CoreConnectionString="metadata=res://*/CoreModel.csdl|res://*/CoreModel.ssdl|res://*/CoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dev-sql-03.sajansoftware.local;initial catalog=GCMS_Core;User Id=AppUser;Password=AppUs3r;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(Id)"/>
      
      <add Id="QA-01" CoreConnectionString="metadata=res://*/CoreModel.csdl|res://*/CoreModel.ssdl|res://*/CoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dev-sql-04.sajansoftware.local;initial catalog=GCMS_Core;User Id=AppUser;Password=AppUs3r;MultipleActiveResultSets=True;App=EntityFramework&quot;"  
        xdt:Transform="SetAttributes" xdt:Locator="Match(Id)"/>
      
      <add Id="QA-02" CoreConnectionString="metadata=res://*/CoreModel.csdl|res://*/CoreModel.ssdl|res://*/CoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dev-sql-05.sajansoftware.local;initial catalog=GCMS_Core;User Id=AppUser;Password=AppUs3r;MultipleActiveResultSets=True;App=EntityFramework&quot;"  
        xdt:Transform="SetAttributes" xdt:Locator="Match(Id)"/>
      
      <add Id="QA-03" CoreConnectionString="metadata=res://*/CoreModel.csdl|res://*/CoreModel.ssdl|res://*/CoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV-SQL-02.SAJANSOFTWARE.LOCAL\QA_03_Prod;initial catalog=GCMS_Core;User Id=AppUser;Password=AppUs3r;MultipleActiveResultSets=True;App=EntityFramework&quot;"  
        xdt:Transform="SetAttributes" xdt:Locator="Match(Id)"/>
      
      <!--<add Id="ProductionUS" CoreConnectionString="metadata=res://*/CoreModel.csdl|res://*/CoreModel.ssdl|res://*/CoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dev-sql-04.sajansoftware.local;initial catalog=GCMS_Core;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />-->
      <!--<add Id="ProductionEU" CoreConnectionString="metadata=res://*/CoreModel.csdl|res://*/CoreModel.ssdl|res://*/CoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dev-sql-04.sajansoftware.local;initial catalog=GCMS_Core;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />-->
    </MasterInstances>
  </MasterInstanceSection>
</configuration>